@import "./reset";
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;500;600;700;800&display=swap");
@import "vue-select/dist/vue-select.css";

$mainColor: #fa0056;

#app {
  position: relative;
  z-index: 20;
  font-family: Montserrat;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-page-enter-active {
  transition: opacity 0.5s ease-in-out;
}
.fade-page-leave-active {
  transition: opacity 0s ease-in-out;
}

.fade-page-enter-from,
.fade-page-leave-to {
  opacity: 0;
}

.drop-leave-active {
  transition: all 0.2s ease-in-out;
}
.drop-enter-active {
  transition: all 0.5s ease-in-out;
}
.drop-enter-from {
  transform: translateY(-26px);
  opacity: 0;
}
.drop-leave-to {
  transform: translateY(26px);
  opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity 0.3s ease-in-out;
}
.modal-fade-enter-from,
.modal-fade-leave-to {
  opacity: 0;
}

.statistic-container {
  will-change: opacity;
  padding: 30px 20px 100px 20px;
  max-width: 1240px;
  margin: auto;
}
.statistic-title {
  margin: 30px 0;
  color: #202020;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}
.statistic-head {
  padding: 20px;
  background: #ecf4ff;
  margin-bottom: 20px;
  border-radius: 8px;
}
.statistic-head__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 29px;
}

.survey__name {
  color: #202020;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 10px;
}

.survey__info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .info-item {
    color: rgba(0, 32, 51, 0.6);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    position: relative;
    &:not(:last-child) {
      &::after {
        position: absolute;
        right: -14px;
        top: 50%;
        content: "";
        width: 4px;
        height: 4px;
        background-color: rgba(0, 32, 51, 0.35);
        border-radius: 50%;
        transform: translateY(-50%);
      }
      margin-right: 24px;
    }
  }
}

.upload-buttons {
  display: flex;
  align-items: center;
  .upload-button {
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #b8cad5;
    background-color: #ffe7ef;
    &:not(:last-child) {
      margin-right: 10px;
    }
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
    &[data-btn="pdf"] {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.7097 15.4839H2.93547C1.86653 15.4839 1 14.6174 1 13.5484C1 12.9071 1.51994 12.3871 2.16128 12.3871H3.70966L3.7097 15.4839Z' fill='%23FA0056'/%3e%3cpath d='M18.4194 0H4.0968L3.69808 0.774188V23.625H21.9032L22.6774 23.2258V4.25808L18.4194 0Z' fill='white'/%3e%3cpath d='M4.0968 22.0645L4.0968 0C3.66925 0 3.32261 0.346594 3.32261 0.774188V23.2258C3.32261 23.6534 3.66925 24 4.0968 24H21.9032C22.3308 24 22.6774 23.6534 22.6774 23.2258H5.25808C4.61669 23.2258 4.0968 22.7059 4.0968 22.0645ZM22.6774 4.19161C22.6774 3.9863 22.5959 3.78937 22.4507 3.64416L19.0331 0.226734C18.8879 0.08156 18.691 1.87938e-06 18.4857 0H18.4194V3.87098C18.4194 3.97365 18.4601 4.07211 18.5327 4.1447C18.6053 4.2173 18.7038 4.25808 18.8065 4.25808H22.6774V4.19161Z' fill='white'/%3e%3cpath d='M14.1613 14.7097H2.16128C2.02553 14.7097 1.89517 14.6864 1.77405 14.6436L1.4012 15.2656V20.1562C1.4012 20.7976 1.92114 21.3175 2.56248 21.3175H14.1613L14.9355 20.9032V15.4839C14.9355 15.0563 14.5889 14.7097 14.1613 14.7097Z' fill='%23FA0056'/%3e%3cpath d='M1.77405 14.6436C1.32405 14.4836 1 14.0534 1 13.5484V20.5161C1 21.1575 1.51994 21.6774 2.16128 21.6774H14.1613C14.5888 21.6774 14.9355 21.3307 14.9355 20.9032L2.93547 20.9032C2.29413 20.9032 1.77419 20.3833 1.77419 19.7419L1.77405 14.6436Z' fill='%23FA0056'/%3e%3cpath d='M12.0474 17.7773H11.2876V17.0436H12.1465C12.3604 17.0436 12.5335 16.8703 12.5335 16.6565C12.5335 16.4428 12.3604 16.2694 12.1465 16.2694H10.9005C10.8496 16.2694 10.7993 16.2794 10.7523 16.2989C10.7053 16.3183 10.6627 16.3468 10.6267 16.3828C10.5908 16.4187 10.5623 16.4614 10.5428 16.5084C10.5234 16.5553 10.5134 16.6057 10.5134 16.6565V19.7306C10.5134 19.9444 10.6865 20.1177 10.9005 20.1177C11.1144 20.1177 11.2876 19.9444 11.2876 19.7306V18.5516H12.0474C12.2614 18.5516 12.4345 18.3782 12.4345 18.1645C12.4345 17.9507 12.2613 17.7773 12.0474 17.7773ZM4.94772 16.2581H4.08545C4.03453 16.2581 3.98412 16.2682 3.93709 16.2877C3.89006 16.3072 3.84734 16.3358 3.81137 16.3718C3.73915 16.4445 3.6986 16.5427 3.69859 16.6452L3.69831 19.742C3.69831 19.9557 3.87147 20.1291 4.08541 20.1291C4.29934 20.1291 4.4725 19.9557 4.4725 19.742V18.7819C4.64617 18.7809 4.83709 18.7801 4.94767 18.7801C5.6523 18.7801 6.22577 18.2144 6.22577 17.5192C6.22581 16.8238 5.65234 16.2581 4.94772 16.2581ZM4.94772 18.0059C4.79059 18.0061 4.63347 18.0066 4.47634 18.0075C4.47559 17.829 4.47372 17.0323 4.47372 17.0323H4.94777C5.22109 17.0323 5.45167 17.2553 5.45167 17.5192C5.45167 17.783 5.22105 18.0059 4.94772 18.0059ZM8.19381 16.3038H7.34289C7.29198 16.3038 7.24157 16.3138 7.19454 16.3333C7.14751 16.3528 7.10479 16.3814 7.06881 16.4174C7.03284 16.4534 7.00434 16.4962 6.98495 16.5433C6.96555 16.5903 6.95565 16.6408 6.9558 16.6917L6.95805 18.1902C6.95805 18.6081 6.96184 19.6975 6.96184 19.6975C6.96204 19.7484 6.97226 19.7988 6.99192 19.8457C7.01158 19.8926 7.04029 19.9352 7.07641 19.971C7.14889 20.043 7.24687 20.0833 7.34898 20.0833H7.35048C7.35048 20.0833 7.98142 20.0809 8.22559 20.0767C9.13473 20.0606 9.79478 19.2687 9.79478 18.1936C9.79473 17.0632 9.15133 16.3038 8.19381 16.3038ZM8.21195 19.3025C8.10119 19.3043 7.90951 19.3061 7.73491 19.307C7.73378 18.9526 7.73228 18.4457 7.73228 18.1901L7.73078 17.078H8.19386C8.98089 17.078 9.02059 18.0072 9.02059 18.1935C9.02055 18.7385 8.77066 19.2927 8.21195 19.3025Z' fill='white'/%3e%3cpath d='M9.11692 13.0951C8.81828 13.0951 8.54838 12.9398 8.35863 12.6466C8.07663 12.2115 8.15073 11.7188 8.56164 11.2946C8.97597 10.8667 9.82384 10.464 10.8442 10.1354C11.1625 9.53545 11.4865 8.83327 11.7892 8.05697C11.968 7.59825 12.1124 7.18467 12.2281 6.81478C11.7182 5.87991 11.415 5.00953 11.4955 4.44436C11.5775 3.87089 12.0058 3.54806 12.6424 3.58322C12.8314 3.59344 13.2824 3.69211 13.3913 4.38652C13.4745 4.91747 13.3346 5.77575 13.0541 6.75108C13.5849 7.64644 14.3125 8.60545 15.0243 9.34148C16.1002 9.27591 17.012 9.35433 17.4705 9.63103C17.8296 9.84764 17.9706 10.2009 17.8478 10.5757C17.6467 11.1883 17.1609 11.469 16.547 11.3259C16.0302 11.2053 15.3899 10.7541 14.7404 10.1278C13.696 10.2196 12.4666 10.4323 11.3881 10.7494C10.7443 11.9048 10.0484 12.8044 9.46398 13.0278C9.34605 13.073 9.22961 13.0951 9.11692 13.0951ZM9.00808 12.2259C9.07272 12.3253 9.10825 12.3233 9.12489 12.3213C9.37136 12.2962 9.78189 11.8707 10.2506 11.1515C9.94066 11.2844 9.66283 11.4284 9.4292 11.583C8.84327 11.9711 8.96763 12.1628 9.00808 12.2259ZM15.8276 10.0766C16.1584 10.3352 16.4657 10.5119 16.7228 10.572C16.9235 10.6187 17.0268 10.5949 17.1122 10.3346C16.998 10.1615 16.5122 10.0783 15.8276 10.0766ZM12.7532 7.68975C12.4941 8.42508 12.1945 9.1455 11.8557 9.84769C12.5812 9.66548 13.3459 9.522 14.0763 9.43092C13.6041 8.89584 13.1478 8.29481 12.7532 7.68975ZM12.5668 4.34161C12.292 4.34161 12.2776 4.44464 12.2617 4.55348C12.2213 4.83947 12.3218 5.2462 12.5203 5.71514C12.6953 4.8795 12.6598 4.43742 12.5747 4.34161H12.5668Z' fill='%23FA0056'/%3e%3c/svg%3e ");
    }
    &[data-btn="exel"] {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.812 0.609987C13.7535 0.562416 13.6849 0.528711 13.6115 0.511396C13.5381 0.494081 13.4617 0.493604 13.388 0.510002L0.388053 3.51C0.276996 3.53553 0.177987 3.59822 0.107421 3.68769C0.0368546 3.77716 -0.00103657 3.88805 2.15761e-05 4.002V21.002C6.59045e-05 21.1214 0.0428383 21.2369 0.120603 21.3275C0.198368 21.4181 0.30599 21.4779 0.424006 21.496L13.424 23.496C13.6969 23.538 13.9522 23.3508 13.9942 23.0779C13.998 23.0528 14 23.0274 14 23.0021V1.002C14.0002 0.926721 13.9834 0.852364 13.9509 0.784483C13.9183 0.716602 13.8709 0.656951 13.812 0.609987Z' fill='%23FA0056'/%3e%3cpath d='M23.5 21.5019H13.5C13.2239 21.5019 13 21.2781 13 21.0019C13 20.7258 13.2239 20.5019 13.5 20.5019H23V3.50194H13.5C13.2239 3.50194 13 3.27806 13 3.00192C13 2.72578 13.2239 2.50195 13.5 2.50195H23.5C23.7761 2.50195 24 2.72583 24 3.00197V21.002C24 21.2781 23.7762 21.5019 23.5 21.5019Z' fill='%23FA0056'/%3e%3cpath d='M9.50011 16.5016C9.41531 16.5016 9.33191 16.4801 9.25774 16.439C9.18357 16.3979 9.12107 16.3386 9.07613 16.2667L4.07611 8.26664C3.92241 8.03723 3.98381 7.72664 4.21322 7.57294C4.44263 7.41923 4.75322 7.48064 4.90692 7.71005C4.91297 7.71905 4.91869 7.72823 4.92413 7.73761L9.92414 15.7376C10.0699 15.9721 9.99802 16.2804 9.7635 16.4263C9.68442 16.4754 9.59321 16.5015 9.50011 16.5016Z' fill='%23FAFAFA'/%3e%3cpath d='M4.49996 16.5017C4.22382 16.5011 4.00042 16.2768 4.00098 16.0007C4.00117 15.9073 4.02749 15.8159 4.07696 15.7367L9.07698 7.73667C9.21545 7.49775 9.5214 7.41632 9.76027 7.55479C9.9992 7.69326 10.0806 7.99921 9.94215 8.23809C9.93671 8.24746 9.93099 8.25665 9.92495 8.26565L4.92498 16.2657C4.88006 16.3379 4.81746 16.3975 4.74308 16.4388C4.66871 16.4801 4.58503 16.5017 4.49996 16.5017Z' fill='%23FAFAFA'/%3e%3cpath d='M17.5 21.502C17.2239 21.502 17 21.2781 17 21.002V3.00197C17 2.72583 17.2239 2.50195 17.5 2.50195C17.7762 2.50195 18 2.72583 18 3.00197V21.002C18 21.2782 17.7762 21.502 17.5 21.502Z' fill='%23FA0056'/%3e%3cpath d='M23.5 18.502H13.5C13.2239 18.502 13 18.2781 13 18.002C13 17.7258 13.2239 17.502 13.5 17.502H23.5C23.7761 17.502 24 17.7258 24 18.002C24 18.2782 23.7762 18.502 23.5 18.502ZM23.5 15.502H13.5C13.2239 15.502 13 15.2781 13 15.002C13 14.7258 13.2239 14.502 13.5 14.502H23.5C23.7761 14.502 24 14.7258 24 15.002C24 15.2782 23.7762 15.502 23.5 15.502ZM23.5 12.502H13.5C13.2239 12.502 13 12.2781 13 12.002C13 11.7258 13.2239 11.502 13.5 11.502H23.5C23.7761 11.502 24 11.7258 24 12.002C24 12.2782 23.7762 12.502 23.5 12.502ZM23.5 9.50198H13.5C13.2239 9.50198 13 9.27811 13 9.00197C13 8.72583 13.2239 8.50195 13.5 8.50195H23.5C23.7761 8.50195 24 8.72583 24 9.00197C24 9.27811 23.7762 9.50198 23.5 9.50198ZM23.5 6.50198H13.5C13.2239 6.50198 13 6.27811 13 6.00197C13 5.72583 13.2239 5.50195 13.5 5.50195H23.5C23.7761 5.50195 24 5.72583 24 6.00197C24 6.27816 23.7762 6.50198 23.5 6.50198Z' fill='%23FA0056'/%3e%3c/svg%3e ");
    }
    &[data-btn="share"] {
      background-size: 20px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='26' viewBox='0 0 20 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.59999 15.5256C5.03593 15.5256 6.2 14.3951 6.2 13.0006C6.2 11.6061 5.03593 10.4756 3.59999 10.4756C2.16405 10.4756 1 11.6061 1 13.0006C1 14.3951 2.16405 15.5256 3.59999 15.5256Z' stroke='%23FA0056' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M16.1998 6.75019C17.5943 6.75019 18.7248 5.6197 18.7248 4.22518C18.7248 2.83066 17.5943 1.7002 16.1998 1.7002C14.8053 1.7002 13.6748 2.83066 13.6748 4.22518C13.6748 5.6197 14.8053 6.75019 16.1998 6.75019Z' stroke='%23FA0056' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M16.1998 24.3C17.5943 24.3 18.7248 23.1695 18.7248 21.775C18.7248 20.3805 17.5943 19.25 16.1998 19.25C14.8053 19.25 13.6748 20.3805 13.6748 21.775C13.6748 23.1695 14.8053 24.3 16.1998 24.3Z' stroke='%23FA0056' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M6.3999 11.0498L13.3999 6.1748' stroke='%23FA0056' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M13.3999 19.8252L6.3999 14.9502' stroke='%23FA0056' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
    }
  }
}

.statistic-head__nav-btns {
  display: flex;
  align-items: center;
  gap: 22px;
  justify-content: space-between;
  border-bottom: 1px solid #b8cad5;
  padding-bottom: 28px;
  .btn {
    width: 100%;
  }
}

.btn {
  cursor: pointer;
  &.router-link-active {
    // pointer-events: none;
    background-color: $mainColor;
    color: #fff;
  }
  color: #262b31;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  display: block;
  border-radius: 4px;
  border: 1px solid $mainColor;
  background-color: #ffe7ef;
  padding: 12px 3px;
  width: 212px;
  height: 44px;
  &.refresh-btn {
    flex-shrink: 0;
    width: 48px;
    position: relative;
    &::before {
      transition: transform 1s ease-in-out;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      content: "";
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M25 5.99763V11.9976M25 11.9976H19M25 11.9976L20.36 7.63763C19.2853 6.56235 17.9556 5.77684 16.4952 5.35441C15.0348 4.93198 13.4911 4.88639 12.0083 5.22189C10.5255 5.5574 9.1518 6.26307 8.01547 7.27305C6.87913 8.28304 6.01717 9.56442 5.51 10.9976M3 21.9976V15.9976M3 15.9976H9M3 15.9976L7.64 20.3576C8.71475 21.4329 10.0444 22.2184 11.5048 22.6409C12.9652 23.0633 14.5089 23.1089 15.9917 22.7734C17.4745 22.4379 18.8482 21.7322 19.9845 20.7222C21.1209 19.7122 21.9828 18.4308 22.49 16.9976' stroke='%23FA0056' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-size: 28px;
      background-position: center;
    }
    &.spin {
      pointer-events: none;
      &::before {
        animation: spin 1s ease-in-out forwards;
      }
    }
  }
  &.red-btn {
    background-color: $mainColor;
    color: #fff;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.origin-information {
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  .information-block {
    align-items: center;
    width: 33.33%;
    display: flex;
  }
  .information-block__ico {
    flex-shrink: 0;
    width: 82px;
    height: 82px;
    margin-right: 20px;
    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .data-value {
    color: #262b31;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 6px;
  }

  .data-descr {
    color: #707683;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }
}

.statistic-body {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #ecf4ff;
  border-radius: 8px;
  min-height: 500px;
}

.poll-item {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 8px;
}
.poll-item__footer {
  color: #707683;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
}
.poll-item__head {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 66, 105, 0.28);
}
.poll-item__answer {
  margin: 20px 0;
  color: #202020;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
}

.poll-item__head {
  display: flex;
  align-items: center;
}
.poll-item__num {
  margin-right: 10px;
  padding: 10px 18px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  border-radius: 123px;
  background: $mainColor;
}

.poll-item__visual-variants {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 0;
  overflow: hidden;
  .visual-variant {
    &.selected {
      background-color: $mainColor;
      color: #fff;
    }
    cursor: pointer;
    padding: 7px 24px;
    border-radius: none;
    background: #ffe7ef;
    color: #262b31;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 16.8px */
    border: 1px solid $mainColor;
    &:first-child {
      border-radius: 4px 0px 0px 4px;
    }
    &:last-child {
      border-radius: 0px 4px 4px 0px;
    }
  }
}
.char-container {
  // height: 530px;
  // &.doughnut-container {
  height: 360px;
  // }
}
.info-char-wrapper {
  margin: 30px 0;
  padding: 30px;
  border-radius: 8px;
  border: 1px solid #c2cfe0;
}
.char-items-list {
  margin: 30px 0;
}
.char-items-list__item {
  margin-bottom: 30px;
  display: flex;
  align-items: flex-start;
  .color-label {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100%;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-right: 10px;
    border-radius: 4px;
  }
  .item-text {
    display: block;
    margin: 0;
    color: #202020;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 25.2px */
  }
}

.pages-pagination {
  margin-bottom: 26px;
  display: flex;
  .pagination-item {
    cursor: pointer;
    width: 50px;
    height: 44px;
    border-radius: 4px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #262b31;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    &:not(:last-child) {
      margin-right: 15px;
    }
    &.active {
      color: #fff;
      background-color: $mainColor;
    }
  }
}

.filter-wrapper {
  // margin: 25px 0;
}
.add-filter-btn {
  background-color: $mainColor;
  color: #fff;
  padding: 10px 54px 10px 24px !important;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='28' height='29' viewBox='0 0 28 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14 10.9422V18.9422M10 14.9422H18M7 5.9422H21C22.1046 5.9422 23 6.83763 23 7.9422V21.9422C23 23.0468 22.1046 23.9422 21 23.9422H7C5.89543 23.9422 5 23.0468 5 21.9422V7.9422C5 6.83763 5.89543 5.9422 7 5.9422Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-size: 28px;
  background-position: center right 10px;
  line-height: 100% !important;
  display: flex;
  align-items: center;
}
.filter-modal__close {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='1.41406' y='0.000152588' width='26' height='2' transform='rotate(45 1.41406 0.000152588)' fill='%2348474D'/%3e%3crect x='19.7988' y='1.41422' width='26' height='2' transform='rotate(135 19.7988 1.41422)' fill='%2348474D'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.filter-modal {
  display: flex;
  z-index: 100;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow: auto;
}
.filter-modal__content {
  border-radius: 8px;
  position: relative;
  padding: 30px;
  background-color: #ebf4ff;
  max-width: 650px;
  width: 100%;
  margin: auto;
}
.filter-select {
  padding: 10px 0px;
}

.filter-select__title {
  font-size: 14px;
}

.filter-modal__title {
  margin-bottom: 20px;
  color: #333;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 26px */
}
.filter-modal__btn {
  margin-top: 10px;
  margin-left: auto;
  background-color: $mainColor;
  color: #fff;
}

.v-select {
  background-color: #fff;
}
.vs__dropdown-toggle {
  padding: 10px !important;
  border-radius: 4px !important;
  border: 1px solid rgba(0, 66, 105, 0.28) !important;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.vs__actions {
  margin-top: -10px;
  margin-bottom: -10px;
  margin-right: -10px;
  padding: 0 !important;
}
.vs__search,
.vs__selected {
  margin-left: 0 !important;
  padding-left: 0 !important;
  margin-top: 0 !important;
  font-size: 18px !important;
  font-style: normal;
  font-weight: 400;
}
.vs__open-indicator.toggle-arrow {
  transform: translate(0) !important;
  border-left: 1px solid rgba(0, 66, 105, 0.28);
  cursor: pointer;
  width: 48px;
  height: 100%;
  display: block;
  position: relative;
  &:before {
    will-change: transform;
    transition: transform 0.2s ease-in-out;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    content: "";
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.5 9L12 14L16.5 9H7.5Z' fill='%23002033' fill-opacity='0.35'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
  }
}

.vs__clear {
  width: 48px;
  height: 100%;
  margin-right: 0 !important;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.16453 9.15597L2.8502 9.84982L6.00027 6.69986L9.14953 9.84923L9.15033 9.85002L9.85014 9.1501L6.70018 5.99997L9.85034 2.84993L9.14323 2.14282L6.0009 5.30066L2.85107 2.15065L2.15039 2.84986L5.30272 6.00229L2.16453 9.15597Z' fill='%2300395C' fill-opacity='0.8'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
  svg {
    display: none;
  }
}
.vs__search {
  padding-left: 0 !important;
  color: rgba(0, 32, 51, 0.35) !important;
}
.vs--open {
  .vs__open-indicator.toggle-arrow:before {
    transform: scale(-1);
  }
}

.vs__dropdown-menu {
  width: 100%;
  .vs__dropdown-option {
    font-family: "Montserrat" !important;
    white-space: inherit;
    padding: 10px;
  }
}

.vs__no-options {
  padding: 20px;
}

.deselect-btn {
  display: block;
  width: 100%;
  height: 100%;
}

.v-select.drop-up.vs--open .vs__dropdown-toggle {
  border-radius: 0 0 4px 4px;
  border-top-color: transparent;
  border-bottom-color: rgba(60, 60, 60, 0.26);
}

.upload-button {
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
  &[data-btn="pdf"] {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.7097 15.4839H2.93547C1.86653 15.4839 1 14.6174 1 13.5484C1 12.9071 1.51994 12.3871 2.16128 12.3871H3.70966L3.7097 15.4839Z' fill='%23FA0056'/%3e%3cpath d='M18.4194 0H4.0968L3.69808 0.774188V23.625H21.9032L22.6774 23.2258V4.25808L18.4194 0Z' fill='white'/%3e%3cpath d='M4.0968 22.0645L4.0968 0C3.66925 0 3.32261 0.346594 3.32261 0.774188V23.2258C3.32261 23.6534 3.66925 24 4.0968 24H21.9032C22.3308 24 22.6774 23.6534 22.6774 23.2258H5.25808C4.61669 23.2258 4.0968 22.7059 4.0968 22.0645ZM22.6774 4.19161C22.6774 3.9863 22.5959 3.78937 22.4507 3.64416L19.0331 0.226734C18.8879 0.08156 18.691 1.87938e-06 18.4857 0H18.4194V3.87098C18.4194 3.97365 18.4601 4.07211 18.5327 4.1447C18.6053 4.2173 18.7038 4.25808 18.8065 4.25808H22.6774V4.19161Z' fill='white'/%3e%3cpath d='M14.1613 14.7097H2.16128C2.02553 14.7097 1.89517 14.6864 1.77405 14.6436L1.4012 15.2656V20.1562C1.4012 20.7976 1.92114 21.3175 2.56248 21.3175H14.1613L14.9355 20.9032V15.4839C14.9355 15.0563 14.5889 14.7097 14.1613 14.7097Z' fill='%23FA0056'/%3e%3cpath d='M1.77405 14.6436C1.32405 14.4836 1 14.0534 1 13.5484V20.5161C1 21.1575 1.51994 21.6774 2.16128 21.6774H14.1613C14.5888 21.6774 14.9355 21.3307 14.9355 20.9032L2.93547 20.9032C2.29413 20.9032 1.77419 20.3833 1.77419 19.7419L1.77405 14.6436Z' fill='%23FA0056'/%3e%3cpath d='M12.0474 17.7773H11.2876V17.0436H12.1465C12.3604 17.0436 12.5335 16.8703 12.5335 16.6565C12.5335 16.4428 12.3604 16.2694 12.1465 16.2694H10.9005C10.8496 16.2694 10.7993 16.2794 10.7523 16.2989C10.7053 16.3183 10.6627 16.3468 10.6267 16.3828C10.5908 16.4187 10.5623 16.4614 10.5428 16.5084C10.5234 16.5553 10.5134 16.6057 10.5134 16.6565V19.7306C10.5134 19.9444 10.6865 20.1177 10.9005 20.1177C11.1144 20.1177 11.2876 19.9444 11.2876 19.7306V18.5516H12.0474C12.2614 18.5516 12.4345 18.3782 12.4345 18.1645C12.4345 17.9507 12.2613 17.7773 12.0474 17.7773ZM4.94772 16.2581H4.08545C4.03453 16.2581 3.98412 16.2682 3.93709 16.2877C3.89006 16.3072 3.84734 16.3358 3.81137 16.3718C3.73915 16.4445 3.6986 16.5427 3.69859 16.6452L3.69831 19.742C3.69831 19.9557 3.87147 20.1291 4.08541 20.1291C4.29934 20.1291 4.4725 19.9557 4.4725 19.742V18.7819C4.64617 18.7809 4.83709 18.7801 4.94767 18.7801C5.6523 18.7801 6.22577 18.2144 6.22577 17.5192C6.22581 16.8238 5.65234 16.2581 4.94772 16.2581ZM4.94772 18.0059C4.79059 18.0061 4.63347 18.0066 4.47634 18.0075C4.47559 17.829 4.47372 17.0323 4.47372 17.0323H4.94777C5.22109 17.0323 5.45167 17.2553 5.45167 17.5192C5.45167 17.783 5.22105 18.0059 4.94772 18.0059ZM8.19381 16.3038H7.34289C7.29198 16.3038 7.24157 16.3138 7.19454 16.3333C7.14751 16.3528 7.10479 16.3814 7.06881 16.4174C7.03284 16.4534 7.00434 16.4962 6.98495 16.5433C6.96555 16.5903 6.95565 16.6408 6.9558 16.6917L6.95805 18.1902C6.95805 18.6081 6.96184 19.6975 6.96184 19.6975C6.96204 19.7484 6.97226 19.7988 6.99192 19.8457C7.01158 19.8926 7.04029 19.9352 7.07641 19.971C7.14889 20.043 7.24687 20.0833 7.34898 20.0833H7.35048C7.35048 20.0833 7.98142 20.0809 8.22559 20.0767C9.13473 20.0606 9.79478 19.2687 9.79478 18.1936C9.79473 17.0632 9.15133 16.3038 8.19381 16.3038ZM8.21195 19.3025C8.10119 19.3043 7.90951 19.3061 7.73491 19.307C7.73378 18.9526 7.73228 18.4457 7.73228 18.1901L7.73078 17.078H8.19386C8.98089 17.078 9.02059 18.0072 9.02059 18.1935C9.02055 18.7385 8.77066 19.2927 8.21195 19.3025Z' fill='white'/%3e%3cpath d='M9.11692 13.0951C8.81828 13.0951 8.54838 12.9398 8.35863 12.6466C8.07663 12.2115 8.15073 11.7188 8.56164 11.2946C8.97597 10.8667 9.82384 10.464 10.8442 10.1354C11.1625 9.53545 11.4865 8.83327 11.7892 8.05697C11.968 7.59825 12.1124 7.18467 12.2281 6.81478C11.7182 5.87991 11.415 5.00953 11.4955 4.44436C11.5775 3.87089 12.0058 3.54806 12.6424 3.58322C12.8314 3.59344 13.2824 3.69211 13.3913 4.38652C13.4745 4.91747 13.3346 5.77575 13.0541 6.75108C13.5849 7.64644 14.3125 8.60545 15.0243 9.34148C16.1002 9.27591 17.012 9.35433 17.4705 9.63103C17.8296 9.84764 17.9706 10.2009 17.8478 10.5757C17.6467 11.1883 17.1609 11.469 16.547 11.3259C16.0302 11.2053 15.3899 10.7541 14.7404 10.1278C13.696 10.2196 12.4666 10.4323 11.3881 10.7494C10.7443 11.9048 10.0484 12.8044 9.46398 13.0278C9.34605 13.073 9.22961 13.0951 9.11692 13.0951ZM9.00808 12.2259C9.07272 12.3253 9.10825 12.3233 9.12489 12.3213C9.37136 12.2962 9.78189 11.8707 10.2506 11.1515C9.94066 11.2844 9.66283 11.4284 9.4292 11.583C8.84327 11.9711 8.96763 12.1628 9.00808 12.2259ZM15.8276 10.0766C16.1584 10.3352 16.4657 10.5119 16.7228 10.572C16.9235 10.6187 17.0268 10.5949 17.1122 10.3346C16.998 10.1615 16.5122 10.0783 15.8276 10.0766ZM12.7532 7.68975C12.4941 8.42508 12.1945 9.1455 11.8557 9.84769C12.5812 9.66548 13.3459 9.522 14.0763 9.43092C13.6041 8.89584 13.1478 8.29481 12.7532 7.68975ZM12.5668 4.34161C12.292 4.34161 12.2776 4.44464 12.2617 4.55348C12.2213 4.83947 12.3218 5.2462 12.5203 5.71514C12.6953 4.8795 12.6598 4.43742 12.5747 4.34161H12.5668Z' fill='%23FA0056'/%3e%3c/svg%3e ");
  }
  &[data-btn="exel"] {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.812 0.609987C13.7535 0.562416 13.6849 0.528711 13.6115 0.511396C13.5381 0.494081 13.4617 0.493604 13.388 0.510002L0.388053 3.51C0.276996 3.53553 0.177987 3.59822 0.107421 3.68769C0.0368546 3.77716 -0.00103657 3.88805 2.15761e-05 4.002V21.002C6.59045e-05 21.1214 0.0428383 21.2369 0.120603 21.3275C0.198368 21.4181 0.30599 21.4779 0.424006 21.496L13.424 23.496C13.6969 23.538 13.9522 23.3508 13.9942 23.0779C13.998 23.0528 14 23.0274 14 23.0021V1.002C14.0002 0.926721 13.9834 0.852364 13.9509 0.784483C13.9183 0.716602 13.8709 0.656951 13.812 0.609987Z' fill='%23FA0056'/%3e%3cpath d='M23.5 21.5019H13.5C13.2239 21.5019 13 21.2781 13 21.0019C13 20.7258 13.2239 20.5019 13.5 20.5019H23V3.50194H13.5C13.2239 3.50194 13 3.27806 13 3.00192C13 2.72578 13.2239 2.50195 13.5 2.50195H23.5C23.7761 2.50195 24 2.72583 24 3.00197V21.002C24 21.2781 23.7762 21.5019 23.5 21.5019Z' fill='%23FA0056'/%3e%3cpath d='M9.50011 16.5016C9.41531 16.5016 9.33191 16.4801 9.25774 16.439C9.18357 16.3979 9.12107 16.3386 9.07613 16.2667L4.07611 8.26664C3.92241 8.03723 3.98381 7.72664 4.21322 7.57294C4.44263 7.41923 4.75322 7.48064 4.90692 7.71005C4.91297 7.71905 4.91869 7.72823 4.92413 7.73761L9.92414 15.7376C10.0699 15.9721 9.99802 16.2804 9.7635 16.4263C9.68442 16.4754 9.59321 16.5015 9.50011 16.5016Z' fill='%23FAFAFA'/%3e%3cpath d='M4.49996 16.5017C4.22382 16.5011 4.00042 16.2768 4.00098 16.0007C4.00117 15.9073 4.02749 15.8159 4.07696 15.7367L9.07698 7.73667C9.21545 7.49775 9.5214 7.41632 9.76027 7.55479C9.9992 7.69326 10.0806 7.99921 9.94215 8.23809C9.93671 8.24746 9.93099 8.25665 9.92495 8.26565L4.92498 16.2657C4.88006 16.3379 4.81746 16.3975 4.74308 16.4388C4.66871 16.4801 4.58503 16.5017 4.49996 16.5017Z' fill='%23FAFAFA'/%3e%3cpath d='M17.5 21.502C17.2239 21.502 17 21.2781 17 21.002V3.00197C17 2.72583 17.2239 2.50195 17.5 2.50195C17.7762 2.50195 18 2.72583 18 3.00197V21.002C18 21.2782 17.7762 21.502 17.5 21.502Z' fill='%23FA0056'/%3e%3cpath d='M23.5 18.502H13.5C13.2239 18.502 13 18.2781 13 18.002C13 17.7258 13.2239 17.502 13.5 17.502H23.5C23.7761 17.502 24 17.7258 24 18.002C24 18.2782 23.7762 18.502 23.5 18.502ZM23.5 15.502H13.5C13.2239 15.502 13 15.2781 13 15.002C13 14.7258 13.2239 14.502 13.5 14.502H23.5C23.7761 14.502 24 14.7258 24 15.002C24 15.2782 23.7762 15.502 23.5 15.502ZM23.5 12.502H13.5C13.2239 12.502 13 12.2781 13 12.002C13 11.7258 13.2239 11.502 13.5 11.502H23.5C23.7761 11.502 24 11.7258 24 12.002C24 12.2782 23.7762 12.502 23.5 12.502ZM23.5 9.50198H13.5C13.2239 9.50198 13 9.27811 13 9.00197C13 8.72583 13.2239 8.50195 13.5 8.50195H23.5C23.7761 8.50195 24 8.72583 24 9.00197C24 9.27811 23.7762 9.50198 23.5 9.50198ZM23.5 6.50198H13.5C13.2239 6.50198 13 6.27811 13 6.00197C13 5.72583 13.2239 5.50195 13.5 5.50195H23.5C23.7761 5.50195 24 5.72583 24 6.00197C24 6.27816 23.7762 6.50198 23.5 6.50198Z' fill='%23FA0056'/%3e%3c/svg%3e ");
  }
  &[data-btn="share"] {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='26' viewBox='0 0 20 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.59999 15.5256C5.03593 15.5256 6.2 14.3951 6.2 13.0006C6.2 11.6061 5.03593 10.4756 3.59999 10.4756C2.16405 10.4756 1 11.6061 1 13.0006C1 14.3951 2.16405 15.5256 3.59999 15.5256Z' stroke='%23FA0056' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M16.1998 6.75019C17.5943 6.75019 18.7248 5.6197 18.7248 4.22518C18.7248 2.83066 17.5943 1.7002 16.1998 1.7002C14.8053 1.7002 13.6748 2.83066 13.6748 4.22518C13.6748 5.6197 14.8053 6.75019 16.1998 6.75019Z' stroke='%23FA0056' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M16.1998 24.3C17.5943 24.3 18.7248 23.1695 18.7248 21.775C18.7248 20.3805 17.5943 19.25 16.1998 19.25C14.8053 19.25 13.6748 20.3805 13.6748 21.775C13.6748 23.1695 14.8053 24.3 16.1998 24.3Z' stroke='%23FA0056' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M6.3999 11.0498L13.3999 6.1748' stroke='%23FA0056' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M13.3999 19.8252L6.3999 14.9502' stroke='%23FA0056' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  }
}

.dp__input_wrap .dp__input_icon {
  display: none;
}

.dp__active_date,
.dp__range_end,
.dp__range_start,
.dp__active_date,
.dp__overlay_cell_active {
  background-color: $mainColor !important;
}
.dp__range_between {
  border-radius: 0% !important;
}
.dp__range_start {
  border-radius: 50% 0% 0% 50% !important;
}
.dp__range_end {
  border-radius: 0% 50% 50% 0% !important;
}
.dp__cell_inner {
  border-radius: 50%;
}
.dp__today {
  border-color: $mainColor !important;
}
.dp__menu_inner {
  padding: 30px;
}

.dp__calendar_header_item {
  color: rgba(0, 32, 51, 0.3);
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 13px */
}

.custom-table__row {
  &:not(:last-child) {
    border-bottom: 1px solid #c2cfe0;
  }
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  &.head-row {
    font-weight: 700;
  }
  transition: color 0.2s ease;
  &:not(.head-row):hover {
    background-color: #f4f4f4;
  }
}
.custom-table__col {
  padding: 10px;
  padding-right: 20px;
  width: 250px;
  word-wrap: break-word;
  vertical-align: middle;
}
.custom-table {
  border: none;
  table-layout: fixed;
  display: table;
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.custom-table__wrapper {
  border: 1px solid #c2cfe0;
  border-radius: 8px;
  padding: 20px 10px;
  margin-bottom: 20px;
  width: 100%;
  overflow: auto;
  /* полоса прокрутки (скроллбар) */
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
  }

  /* ползунок скроллбара */
  &::-webkit-scrollbar-thumb {
    background-color: $mainColor;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb:hover {
    opacity: 0.8;
  }

  /* Стрелки */

  &::-webkit-scrollbar-button:vertical:start:decrement,
  &::-webkit-scrollbar-button:vertical:end:increment,
  &::-webkit-scrollbar-button:horizontal:start:decrement,
  &::-webkit-scrollbar-button:horizontal:end:increment {
    display: none;
  }
}
