@import "./reset";
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;500;600;700;800&display=swap");
@import "vue-select/dist/vue-select.css";
#app {
  font-family: Montserrat;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.statistic-container {
  max-width: 1200px;
  margin: auto;
}
.statistic-title {
  margin: 30px 0;
  color: #202020;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}
.statistic-head {
  padding: 15px 20px;
  background: #ecf4ff;
  margin-bottom: 20px;
  border-radius: 8px;
}
.statistic-head__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 29px;
}

.survey__name {
  color: #202020;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 10px;
}

.survey__info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .info-item {
    color: rgba(0, 32, 51, 0.6);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    position: relative;
    &:not(:last-child) {
      &::after {
        position: absolute;
        right: -14px;
        top: 50%;
        content: "";
        width: 4px;
        height: 4px;
        background-color: rgba(0, 32, 51, 0.35);
        border-radius: 50%;
        transform: translateY(-50%);
      }
      margin-right: 24px;
    }
  }
}

.upload-buttons {
  display: flex;
  align-items: center;
  .upload-button {
    width: 48px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #dfe9f4;
    background: linear-gradient(136deg, #fff 2.79%, #f3a1bc 80.6%);
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.statistic-head__nav-btns {
  display: flex;
  align-items: center;
  gap: 22px;
  justify-content: space-between;
  border-bottom: 1px solid #b8cad5;
  padding-bottom: 28px;
  .btn {
    width: 100%;
  }
}

.btn {
  cursor: pointer;
  &.router-link-active {
    // pointer-events: none;
    background-color: #fa0056;
    color: #fff;
  }
  color: #262b31;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  display: block;
  border-radius: 4px;
  border: 1px solid #fa0056;
  background-color: #ffe7ef;
  padding: 12px 3px;
  width: 212px;
  height: 44px;
  &.refresh-btn {
    flex-shrink: 0;
    width: 48px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M25 5.99763V11.9976M25 11.9976H19M25 11.9976L20.36 7.63763C19.2853 6.56235 17.9556 5.77684 16.4952 5.35441C15.0348 4.93198 13.4911 4.88639 12.0083 5.22189C10.5255 5.5574 9.1518 6.26307 8.01547 7.27305C6.87913 8.28304 6.01717 9.56442 5.51 10.9976M3 21.9976V15.9976M3 15.9976H9M3 15.9976L7.64 20.3576C8.71475 21.4329 10.0444 22.2184 11.5048 22.6409C12.9652 23.0633 14.5089 23.1089 15.9917 22.7734C17.4745 22.4379 18.8482 21.7322 19.9845 20.7222C21.1209 19.7122 21.9828 18.4308 22.49 16.9976' stroke='%23FA0056' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: center;
  }
  &.red-btn {
    background-color: #fa0056;
    color: #fff;
  }
}

.origin-information {
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  .information-block {
    align-items: center;
    width: 33.33%;
    display: flex;
  }
  .information-block__ico {
    flex-shrink: 0;
    width: 82px;
    height: 82px;
    margin-right: 20px;
    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .data-value {
    color: #262b31;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 6px;
  }

  .data-descr {
    color: #707683;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }
}

.statistic-body {
  padding: 20px;
  background: #ecf4ff;
  border-radius: 8px;
  min-height: 500px;
}

.poll-item {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 8px;
}
.poll-item__footer {
  color: #707683;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
}
.poll-item__head {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 66, 105, 0.28);
}
.poll-item__answer {
  margin: 20px 0;
  color: #202020;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
}

.poll-item__head {
  display: flex;
  align-items: center;
}
.poll-item__num {
  margin-right: 10px;
  padding: 10px 18px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  border-radius: 123px;
  background: #fa0056;
}

.poll-item__visual-variants {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 0;
  overflow: hidden;
  .visual-variant {
    &.selected {
      background-color: #fa0056;
      color: #fff;
    }
    cursor: pointer;
    padding: 7px 24px;
    border-radius: none;
    background: #ffe7ef;
    color: #262b31;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 16.8px */
    border: 1px solid #fa0056;
    &:first-child {
      border-radius: 4px 0px 0px 4px;
    }
    &:last-child {
      border-radius: 0px 4px 4px 0px;
    }
  }
}
.char-container {
  height: 530px;
  &.doughnut-container {
    height: 360px;
  }
}
.info-char-wrapper {
  margin: 30px 0;
  padding: 30px;
  border-radius: 8px;
  border: 1px solid #c2cfe0;
}
.char-items-list {
  margin: 30px 0;
}
.char-items-list__item {
  margin-bottom: 30px;
  display: flex;
  align-items: flex-start;
  .color-label {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-right: 10px;
  }
  .item-text {
    display: block;
    margin: 0;
    color: #202020;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 25.2px */
  }
}

.pages-pagination {
  margin-bottom: 26px;
  display: flex;
  .pagination-item {
    cursor: pointer;
    width: 50px;
    height: 44px;
    border-radius: 4px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #262b31;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    &:not(:last-child) {
      margin-right: 15px;
    }
    &.active {
      color: #fff;
      background-color: #fa0056;
    }
  }
}

.filter-wrapper {
  margin: 25px 0;
}
.add-filter-btn {
  padding: 10px 54px 10px 24px !important;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='28' height='29' viewBox='0 0 28 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14 10.9422V18.9422M10 14.9422H18M7 5.9422H21C22.1046 5.9422 23 6.83763 23 7.9422V21.9422C23 23.0468 22.1046 23.9422 21 23.9422H7C5.89543 23.9422 5 23.0468 5 21.9422V7.9422C5 6.83763 5.89543 5.9422 7 5.9422Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-size: 28px;
  background-position: center right 10px;
  line-height: 100% !important;
  display: flex;
  align-items: center;
}
.filter-modal__close {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='1.41406' y='0.000152588' width='26' height='2' transform='rotate(45 1.41406 0.000152588)' fill='%2348474D'/%3e%3crect x='19.7988' y='1.41422' width='26' height='2' transform='rotate(135 19.7988 1.41422)' fill='%2348474D'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.filter-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.filter-modal__content {
  border-radius: 8px;
  position: relative;
  padding: 30px;
  background-color: #ebf4ff;
  max-width: 650px;
  width: 100%;
}
.filter-select {
  margin: 20px 0px;
}

.filter-select__title {
  font-size: 14px;
}

.filter-modal__title {
  margin-bottom: 20px;
  color: #333;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 26px */
}
.filter-modal__btn {
  margin-left: auto;
}

.v-select {
  background-color: #fff;
}
.vs__dropdown-toggle {
  padding: 10px !important;
  border-radius: 4px !important;
  border: 1px solid rgba(0, 66, 105, 0.28) !important;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.vs__actions {
  margin-top: -10px;
  margin-bottom: -10px;
  margin-right: -10px;
  padding: 0 !important;
}
.vs__search,
.vs__selected {
  margin-left: 0 !important;
  padding-left: 0 !important;
  margin-top: 0 !important;
  font-size: 18px !important;
  font-style: normal;
  font-weight: 400;
}
.vs__open-indicator.toggle-arrow {
  transform: translate(0) !important;
  border-left: 1px solid rgba(0, 66, 105, 0.28);
  cursor: pointer;
  width: 48px;
  height: 100%;
  display: block;
  position: relative;
  &:before {
    will-change: transform;
    transition: transform 0.2s ease-in-out;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    content: "";
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.5 9L12 14L16.5 9H7.5Z' fill='%23002033' fill-opacity='0.35'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
  }
}

.vs__clear {
  width: 48px;
  height: 100%;
  margin-right: 0 !important;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.16453 9.15597L2.8502 9.84982L6.00027 6.69986L9.14953 9.84923L9.15033 9.85002L9.85014 9.1501L6.70018 5.99997L9.85034 2.84993L9.14323 2.14282L6.0009 5.30066L2.85107 2.15065L2.15039 2.84986L5.30272 6.00229L2.16453 9.15597Z' fill='%2300395C' fill-opacity='0.8'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
  svg {
    display: none;
  }
}
.vs__search {
  padding-left: 0 !important;
  color: rgba(0, 32, 51, 0.35) !important;
}
.vs--open {
  .vs__open-indicator.toggle-arrow:before {
    transform: scale(-1);
  }
}

.vs__dropdown-menu {
  width: 100%;
  .vs__dropdown-option {
    font-family: "Montserrat" !important;
    white-space: inherit;
    padding: 10px;
  }
}

.vs__no-options {
  padding: 20px;
}

.deselect-btn {
  display: block;
  width: 100%;
  height: 100%;
}

.v-select.drop-up.vs--open .vs__dropdown-toggle {
  border-radius: 0 0 4px 4px;
  border-top-color: transparent;
  border-bottom-color: rgba(60, 60, 60, 0.26);
}
